@import './vars.scss';

@mixin flex-row {
  display: flex;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

// 文字超出隐藏
@mixin text-eli {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

@mixin bg_color(){
  background: $background-color-light;
  [data-theme=dark] & {
    background: $background-color-dark;
  }
}

@mixin font_color(){
  color: $font-color-light;
  [data-theme=dark] & {
    color: $font-color-dark;
  }
}
@mixin font_active_color(){
  color: $font-active-color-light;
  [data-theme=dark] & {
    color: $font-active-color-dark;
  }
}

@mixin btn_color(){
  background-color: $btn-color-light;
  color: #fff;
  [data-theme=dark] & {
    background-color: $btn-color-dark;
  }
}

@mixin nav_color(){
  background-color: $nav-color-light;
  [data-theme=dark] & {
    background-color: $nav-color-dark;
  }
}

@mixin card_color() {
  background-color: #abc1c6;
  [data-theme='dark'] & {
      background-color: rgb(68, 83, 111);
  }
}

// @mixin bg_img(){
//   background-image: $background-img-light;
//   background-size: 100% 100%;
//   background-repeat: no-repeat;
//   background-position: center;
//   [data-theme=dark] & {
//     background-image: $background-img-dark;
//   }
// }

