$font-size: 28rpx;
$primary-color: #54d339;
$blue-color: #409eff;
$red-color: #8B0000;
$gray-color: #CFCFCF;

/* 字体定义规范 */
$font_samll:12Px;
$font_medium_s:14Px;
$font_medium:16Px;
$font_large:18Px;

/* 背景颜色规范(主要) */
$background-color-light: #fff;//背景主题颜色默认-亮色
$background-color-dark: #111;//背景主题颜色(夜间模式)

/* 字体颜色规范(默认) */
$font-color-light : #121212;//背景主题颜色默认-亮色
$font-color-dark : #ddd;//字体主题颜色(夜间模式)

/* 字体颜色规范(激活) */
$font-active-color-light : #409eff;//字体主题颜色默认(网易红)
$font-active-color-dark : darkred;//字体主题颜色2(夜间模式)


/* 字体颜色规范(激活) */
$btn-color-light : #409eff;//字体主题颜色默认(网易红)
$btn-color-dark : darkred;//字体主题颜色2(夜间模式)

/* 背景图片规范 */
// $background-img-light: url('@/assets/light-bg.JPG');//背景主题颜色默认-亮色
// $background-img-dark: url('@/assets/dark-bg.JPG');//背景主题颜色(夜间模式)